/*
 * Globals
 */
@import url('https://fonts.googleapis.com/css?family=Cardo|Lato:300,400,700&display=swap');
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #fff;
  border-radius: 100px;
  width: 200px;
  text-shadow: none;
  background-color: #e96d3a;
  border: 0px;
  margin-top: 20px;
  font-weight: 500 !important;
}


.lead{
  font-size: 16px;
  margin-bottom: 50px;
  font-weight: 400;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
  font-family: Lato;
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
}

body > div{
  background-image: url('../images/banner1.png');
  background-size: cover;
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.logo {
  max-width: 200px;
  margin-bottom: 15px;
  margin-top: 20px;
}

.about .item {
  background: rgba(0, 0, 0, 0.52);
  padding: 5px 20px;
  box-shadow: 3px 2px 7px 3px rgba(103, 103, 103, 0.07);
  height: 200px;
  text-align: left !important;
  border-radius: 4px;
}

.about .item h2 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-top: 20px;
}

.about .item h2 span {
  color: #e96d3a;
  display: block;
  font-size: 20px;
}

.about .item span {
  font-family: Lato;
  font-size: 16px;
  color: #fff;
}

.title{
  margin-top: 50px;
  font-size: 30px;
  color: #e0612d;
  font-weight: 800;
  margin-bottom: 30px;
}

@media (max-width: 992px){

  .about .item {
    height: auto;
    padding: 0px;
    background: transparent;
    text-align: center;
  }

  .logo{
    width: 140px;
  }

  .lead {
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 25px;
  }

}
